<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cloud.augmentum.recipeviewersample">

    <!-- Internet access is required by Retrofit and Glide -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Access Network State access is required by the connection validity check and Glide -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required permissions to be able to upload image (from camera/gallery) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.CatalogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.DetailsActivity"
            android:parentActivityName=".ui.CatalogActivity" />

        <activity
            android:name=".ui.UploadActivity"
            android:label="@string/upload_view_title"
            android:parentActivityName=".ui.CatalogActivity"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://@myCloudName" />
    </application>
</manifest>